* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a {
	text-decoration: none;
	color: white;
	text-shadow: 0 0 10px gray;
	text-transform: uppercase;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 1329px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 10px;
	background-color: black;
}

.logo {
	text-transform: uppercase;
	text-shadow: 0 0 10px gray;
	padding: 15px 30px;
	font-size: 2rem;
	letter-spacing: 3px;
	transition: color .3s ease;
}

.logo:hover {
	color: #d50a0a;
	text-shadow: 0 0 10px black;
}

/* navbar */
nav ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

nav a {
	margin: 0 19px;
	transition: color .3s ease;
}

nav a:hover {
	color: #d50a0a;
}

/* menus navbar */
#menu:before,
#menu:after {
	content: '';
	display: table;
}

#menu:after {
	clear: both;
}

#menu li {
	float: left;
	position: relative;
}

#menu a {
	padding: 7px 9px;
	float: left;
	text-transform: left;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
	color: white
}

#menu li:hover>a {
	color: #d50a0a;
}

#menu ul {
	margin: 12px 0px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 46px;
	left: 0;
	z-index: 1;
	transition: all .3s ease-in-out;
}

#menu li:hover>ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
	text-shadow: 0 0 10px black;
}

/* formatacao botao */
.botao {
	color: white;
	padding: 15px 30px;
	border-radius: 5px;
	background: #d50a0a;
	margin-right: 10px;
	transition: opacity .4s ease;
}

.botao:hover {
	opacity: .6;
}

.container {
	display: flex;
	margin-top: 86px;
	flex-flow: row wrap;
}


/* caixa de texto */
.principalbox {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffff;
	max-width: 80%;
	margin: auto;
}

/* textos */
.textogrande {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.textopequeno {
	font-size: 18px;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* secoes */
.secaoazul {
	background-color: #013369;
	height: 380px;
	width: 638px;
	display: flex;
}

.secaovermelha {
	background-color: #d50a0a;
	height: 380px;
	width: 710px;
	display: flex;
}

/* secao regras */
.secaoregras {
	background: linear-gradient(50deg, white, gray, black);
	height: 121px;
	width: 1370px;
	display: flex;
}

.secaoregras h1 {
	margin-top: 20px;
	text-shadow: 0 0 10px #000000;
}

/* imagens */
.img1 {
	background-image: url(../assets2/NFL-Mock-Draft.jpeg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 711px;
	display: flex;
}


.img2 {
	background-image: url(../assets2/onTheClock.jpg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 638px;
	display: flex;
}

.img3 {
	background-image: url(../assets2/ordemDraft.jpg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 711px;
	display: flex;
}

.img4 {
	background-image: url(../assets2/tradeDraft.jpg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 638px;
	display: flex;
}

.img5 {
	background-image: url(../assets2/trocaNaoDraft.jpg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 711px;
	display: flex;
}

.img6 {
	background-image: url(../assets2/DraftHistory.jpg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 638px;
	display: flex;
}

.img7 {
	background-image: url(../assets2/DraftCompensatory.jpg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 711px;
	display: flex;
}

.img8 {
	background-image: url(../assets2/draftSup.jpg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 638px;
	display: flex;
}

.img9 {
	background-image: url(../assets2/draftCombine.jpeg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 711px;
	display: flex;
}

.img10 {
	background-image: url(../assets2/brady.jpg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 319px;
	display: flex;
}

.img11 {
	background-image: url(../assets2/brady2.jpg);
	background-position: center;
	background-size: cover;
	height: 380px;
	width: 319px;
	display: flex;
}