* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-family: sans-serif;
    color: #ffff;
    background: url(../assets2/b3146766e0cb15a980230cc3fe23b171.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    /* width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */

    position: absolute;
    width: 400px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border-radius: 25px;
}

.question {
    font-weight: 600;
    margin-top: 30px;
    text-shadow: 0 0 10px gray;
}

.answers {
    margin-top: 10px;
    text-shadow: 0 0 10px gray;
}

#submit {
    font-size: 20px;
    background-color: #013369;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 110px;
    transition: opacity .4s ease;
    text-shadow: 0 0 10px white;
}

#submit:hover {
    background-color: #012953;
    opacity: .7;
}