* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background: url(../assets2/quiz.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    /* width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */

    position: absolute;
    width: 650px;
    height: 610px;
    text-align: center;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    opacity: .8;
    border-radius: 5px;
}

.span_seta {
    margin-top: 10px;
    margin-right: 550px;
	font-size: 40px;
	color: #000000;
	text-decoration: none;
}

.question {
    font-weight: 700;
    margin-top: 30px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.answers {
    font-weight: 200;
    margin-top: 10px;
    text-shadow: 0 0 10px #ffff;
}

#submit {
    font-size: 16px;
    background-color: #013369;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 15px;
    transition: opacity .4s ease;
    /* text-shadow: 0 0 10px white; */
}

#submit:hover {
    background-color: #012953;
    opacity: .9;
}

#results {
    margin-top: 20px;
}

.label input {
    margin: 5px 5px;
    text-shadow: 0 0 10px #0000;
}