* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* esconde conteudo grande */
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 10px #ccc;
  text-transform: uppercase;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 65px;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ccc;
  font-size: 2rem;
  letter-spacing: 3px;
  transition: color .3s ease;
}

.logo:hover {
  color: #d50a0a;
  text-shadow: 0 0 10px #000;
}

/* navbar */
nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

nav a {
  margin: 0 19px;
  transition: color .3s ease;
}

nav a:hover {
  color: #d50a0a;
}

/* menus navbar */
#menu:before, #menu:after {
  content: '';
  display: table;
}

#menu:after {
  clear: both;
}

#menu li {
  float: left;
  position: relative;
}

#menu a {
  padding: 7px 9px;
  float: left;
  text-transform: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: #fff;
}

#menu li:hover > a {
  color: #d50a0a;
}

#menu ul {
  margin: 10px 0px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 1;
  transition: all .3s ease-in-out;
}

#menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}


/* conteudo tela */
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../assets2/index2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner .container h4 {
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 0 10px #000;
}

.banner .container h1 {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin: 10px 0 32px 0;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #000;
}

/* formatacao botao */
.botao {
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  background: #d50a0a;
  margin-right: 10px;
  transition: opacity .4s ease;
}

.botao:hover {
  opacity: .6;
}