@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Graduate', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* esconde conteudo grande */
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 10px #ccc;
  text-transform: uppercase;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 65px;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 10px gray;
  font-size: 2rem;
  letter-spacing: 3px;
  transition: color .3s ease;
}

.logo:hover {
  color: #d50a0a;
  text-shadow: 0 0 10px #000;
}

/* navbar */
nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

nav a {
  margin: 0 19px;
  transition: color .3s ease;
}

nav a:hover {
  color: #d50a0a;
}

/* menus navbar */
#menu:before,
#menu:after {
  content: '';
  display: table;
}

#menu:after {
  clear: both;
}

#menu li {
  float: left;
  position: relative;
}

#menu a {
  padding: 6px 8px;
  float: left;
  text-transform: left;
  font-family: 'Graduate', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: #fff;
}

#menu li:hover>a {
  color: #d50a0a;
}

#menu ul {
  margin: 10px 0px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 1;
  transition: all .3s ease-in-out;
}

#menu li:hover>ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}


/* botao mensagem */
#btnMensagem {
  margin: 120px 0 10px 1200px; 
  height: 75px;
  width: 75px;
  background: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 20px 20px 50px 15px #000;
}

#btnMensagem img {
  width: 50px;
}

#btnMensagem:hover {
  transform: scale(1.10);
}

/* modal */
hr {
  border: 0px;
  border-top: 1px solid rgb(255, 0, 0);
  margin: 20px;
}

.modal-container {
  width: 1000px;
  position: fixed;
  left: 400px;
  top: 120px;
  z-index: 999;
  justify-content: center;
  text-align: center;
  display: none;
  opacity: .9;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  width: 50%;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal 4.s;
}

@keyframes modal {
  from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
  }

  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

span {
  margin: 10px auto;
}

.btns {
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btns button {
  font-size: medium;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 400px;
  border-radius: 30px;
  height: 80%;
  width: 10%;
}

.btnClose {
  background-color: #ff0505 !important;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .modal {
      padding: 10px;
      width: 80%;
  }

  span,
  .btns button {
      font-size: smaller;
  }
}

/* comentario */
textarea {
  width: 400px;
  height: 150px;
}

#enviarMsg {
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  background: #d50a0a;
  margin-top: 15px;
  cursor: pointer;
  border: none;
}

/* conteudo tela */
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../assets2/index2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner .container h4 {
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 0 10px #000;
  margin-top: 200px;
}

.banner .container h1 {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin: 10px 0 32px 0;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #000;
}

/* formatacao botao */
.botao {
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  background: #d50a0a;
  margin-right: 10px;
  transition: opacity .4s ease;
}

.botao:hover {
  opacity: .6;
}